<h1>Hello and welcome in to the shoestore database.</h1>

<h3> Create a user id: </h3>
<form action="/signup" method="post">
  <label for="username">New User Name:  </label>
  <input type="text" name="username" id="username">
  <label for="password">New User Password:  </label>
  <input type="text" name="password" id="password">
  <button type="submit">Add User</button>
</form>

<br>
<hr>
<br>

<h3> Login: </h3>
<form action="/login" method="post">
  <label for="username">User Name:  </label>
  <input type="text" name="username" id="username">
  <label for="password">User Password:  </label>
  <input type="text" name="password" id="password">
  <button type="submit">Log In</button>
</form>
