<h1><%= @shoestore.name %></h1>



<form id="update_shoestore" action="/shoestores/<%= @shoestore.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="shoestore_name">Rename this shoestore:</label>
  <input type="text" name="shoestore_name" id="shoestore_name" required>
  <button type="submit" class="btn btn-warning">Rename</button>
</form>

<hr>

<form id="delete_shoestore" action="/shoestores/<%= @shoestore.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <label for="shoestore_name">Delete this shoestore:</label>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
